


 <header class="nav-header">
    <nav>
        <div class="website-name">
           <a href="/"> Social</a>
        </div>

    
       <div class="nav-right">
        <ul>
            <% if(locals.user) {%>

        
           
                <%= user.name %></a></li>
            <li class="input2"><a href="/user/sign-out" style="color: white;">Sign Out</a></li>

            <%}else{%>
                <li class="input1">
                
                <a href="/user/sign-in" style="color: white;">Sign in</a>
                </li>
                <li class="input1">
                    <a href="/user/sign-up" style="color: white;">Sign Up</a>
                </li>

            <% }%>
            

        </ul>
    </div>
    </nav>
</header>