


 <header>
    <nav>
        <div class="website-name">
           <a href="/"> Codieal</a>
        </div>

    
       <div class="nav-right">
        <ul>
            <% if(locals.user) {%>

        
           
                <%= user.name %></a></li>
            <li><a href="/user/sign-out">Sign Out</a></li>

            <%}else{%>
                <li>
                
                <a href="/user/sign-in">Sign in</a>
                </li>
                <li>
                    <a href="/user/sign-up">Sign Up</a>
                </li>

            <% }%>
            

        </ul>
    </div>
    </nav>
</header>