
<link rel="stylesheet" href="/css/user_profile.css">
<link rel="shortcut icon" href="https://e7.pngegg.com/pngimages/376/171/png-clipart-computer-icons-user-account-login-login-logo-vector-icons.png" type="image/x-icon">

    <h1>
      Codeial / profile page
    </h1>
    

    <p>Name:<%= user.name %></p>
    <p>Email:<%= user.email %></p>